<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Latest Blogs</h2>
        <p class="text-center wow fadeInDown">Stay updated with our fitness tips, news, and success stories.</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                <article>
                    <header class="entry-header">
                        <div class="entry-thumbnail">
                            <img class="img-responsive" src="{{ 'assets/images/blog/blog1.jpg'|theme }}" alt="">
                            <span class="post-format post-format-video"><i class="fa fa-film"></i></span>
                        </div>
                        <div class="entry-date">25 November 2024</div>
                        <h2 class="entry-title"><a href="#">5 Essential Workouts for a Healthy Body</a></h2>
                    </header>

                    <div class="entry-content">
                        <p>Looking to improve your fitness journey? Check out these 5 essential workouts to maintain a healthy body and mind.</p>
                        <a class="btn btn-primary" href="#">Read More</a>
                    </div>

                    <footer class="entry-meta">
                        <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Fitness Team</a></span>
                        <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Workouts</a></span>
                        <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                    </footer>
                </article>
            </div>
        </div><!--/.col-sm-6-->
        <div class="col-sm-6">
            <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
                <article class="media clearfix">
                    <div class="entry-thumbnail pull-left">
                        <img class="img-responsive" src="{{ 'assets/images/blog/bloc2.jpg'|theme }}" alt="">
                        <span class="post-format post-format-gallery"><i class="fa fa-image"></i></span>
                    </div>
                    <div class="media-body">
                        <header class="entry-header">
                            <div class="entry-date">01 December 2024</div>
                            <h2 class="entry-title"><a href="#">Nutrition Tips for a Balanced Diet</a></h2>
                        </header>

                        <div class="entry-content">
                            <p>Discover the best nutrition tips for maintaining a balanced diet and achieving your fitness goals.</p>
                            <a class="btn btn-primary" href="#">Read More</a>
                        </div>

                        <footer class="entry-meta">
                            <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Nutrition Experts</a></span>
                            <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Nutrition</a></span>
                            <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                        </footer>
                    </div>
                </article>
            </div>
            <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="200ms">
                <article class="media clearfix">
                    <div class="entry-thumbnail pull-left">
                        <img class="img-responsive" src="{{ 'assets/images/blog/blog3.jpg'|theme }}" alt="">
                        <span class="post-format post-format-audio"><i class="fa fa-music"></i></span>
                    </div>
                    <div class="media-body">
                        <header class="entry-header">
                            <div class="entry-date">03 November 2024</div>
                            <h2 class="entry-title"><a href="#">Benefits of Regular Exercise</a></h2>
                        </header>

                        <div class "entry-content">
                            <p>Learn about the many benefits of regular exercise and how it can positively impact your health and fitness.</p>
                            <a class="btn btn-primary" href="#">Read More</a>
                        </div>

                        <footer class="entry-meta">
                            <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Fitness Team</a></span>
                            <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Exercise</a></span>
                            <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>