<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <p><img class="img-circle img-thumbnail" src="{{ 'assets/images/testimonial/01.jpg'|theme }}" alt=""></p>
                        <h4>John D. Fitness Enthusiast</h4>
                        <small>Regular Member</small>
                        <p>Joining this fitness center was the best decision of my life. The trainers are top-notch, and the facilities are outstanding. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.</p>
                    </div>
                    <div class="item">
                        <p><img class="img-circle img-thumbnail" src="{{ 'assets/images/testimonial/02.jpg'|theme }}" alt=""></p>
                        <h4>Laura M. Health Enthusiast</h4>
                        <small>Gold Member</small>
                        <p>This fitness center has transformed my life. I've achieved my fitness goals and feel better than ever. The classes are fantastic, and the community is so supportive. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.</p>
                    </div>
                </div>

                <!-- Controls -->
                <div class="btns">
                    <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>