<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Portfolio</h2>
        <p class="text-center wow fadeInDown">Explore the range of services we offer to help you achieve your fitness goals and live a healthier life.</p>
    </div>

    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a class="active" href="#" data-filter="*">All Services</a></li>
            <li><a href="#" data-filter=".personal-training">Personal Training</a></li>
            <li><a href="#" data-filter=".group-classes">Group Classes</a></li>
            <li><a href="#" data-filter=".nutrition">Nutrition Guidance</a></li>
        </ul><!--/#portfolio-filter-->
    </div>

            <div class="portfolio-items">
                <div class="portfolio-item personal-training">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/personalTrainer.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
    <h3>Personal Training</h3>
    Work one-on-one with our certified personal trainers

                            <a class="preview" href="{{ 'assets/images/portfolio/personalTrainer2.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item group-classes">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/groupClass.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Group Clases</h3>
                            Join our energizing group fitness classes to stay motivate
                            <a class="preview" href="{{ 'assets/images/portfolio/groupCLass2.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item group-classes">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/groupClass.3jpg.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Group Clases</h3>
                            Join our energizing group fitness classes to stay motivate
                            <a class="preview" href="{{ 'assets/images/portfolio/groupClass.4jpg.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item nutrition">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/nutritie.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Nutrition Consultation</h3>
Get expert nutrition guidance to complement your fitness journey.

                            <a class="preview" href="{{ 'assets/images/portfolio/nutritie2.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item personal-training">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/personalTrainer4.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Personal Training</h3>
                            Work one-on-one with our certified personal trainers
                            <a class="preview" href="{{ 'assets/images/portfolio/personalTrainer5.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item nutrition">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/nutritie3.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Nutrition Consultation</h3>
                            Get expert nutrition guidance to complement your fitness journey.
                            <a class="preview" href="{{ 'assets/images/portfolio/nutritie4.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item group-classes">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/groupClass.5jpg.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Group Clases</h3>
                            Join our energizing group fitness classes to stay motivate
                            <a class="preview" href="{{ 'assets/images/portfolio/groupClass.6jpg.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item personal-training">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/personalTrainer7.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Personal Training</h3>
                            Work one-on-one with our certified personal trainers
                            <a class="preview" href="{{ 'assets/images/portfolio/personalTrainer6.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->