<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
        <p class="text-center wow fadeInDown">Explore the range of services we offer to help you achieve your fitness goals and live a healthier life.</p>
    </div>

    <div class="text-center">
        <ul class="portfolio-filter">
            <li><a class="active" href="#" data-filter="*">All Services</a></li>
            <li><a href="#" data-filter=".personal-training">Personal Training</a></li>
            <li><a href="#" data-filter=".group-classes">Group Classes</a></li>
            <li><a href="#" data-filter=".nutrition">Nutrition Guidance</a></li>
        </ul><!--/#portfolio-filter-->
    </div>

            <div class="portfolio-items">
                <div class="portfolio-item personal-training">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/personalTrainer.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
    <h3>Personal Training</h3>
    Work one-on-one with our certified personal trainers

                            <a class="preview" href="{{ 'assets/images/portfolio/personalTrainer2.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item group-classes">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/02.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item group-classes">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/03.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item nutrition">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/04.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item personal-training">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/05.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item nutrition">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/06.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item group-classes">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/07.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item personal-training">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/08.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->