<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Membership Plans</h2>
        <p class="text-center wow fadeInDown">Choose the perfect membership plan that suits your fitness goals and budget.</p>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                                $39
                            </span>
                            <span class="duration">
                                per month
                            </span>
                        </div>

                        <div class="plan-name">
                            Starter
                        </div>
                    </li>
                    <li><strong>Access to Gym</strong></li>
                    <li><strong>Cardio Equipment</strong></li>
                    <li>Group Fitness Classes</li>
                    <li><strong>24/7</strong> Access</li>
                    <li>Personal Trainer Sessions</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">JOIN NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                <ul class="pricing featured">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                                $69
                            </span>
                            <span class="duration">
                                per month
                            </span>
                        </div>

                        <div class="plan-name">
                            Standard
                        </div>
                    </li>
                    <li><strong>Access to Gym</strong></li>
                    <li><strong>Cardio Equipment</strong></li>
                    <li><strong>Group Fitness Classes</strong></li>
                    <li><strong>24/7</strong> Access</li>
                    <li><strong>Personal Trainer Sessions</strong></li>
                    <li class="plan-purchase"><a class="btn btn-default" href="#">JOIN NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                                $99
                            </span>
                            <span class="duration">
                                per month
                            </span>
                        </div>

                        <div class="plan-name">
                            Premium
                        </div>
                    </li>
                    <li><strong>Access to Gym</strong></li>
                    <li><strong>Cardio Equipment</strong></li>
                    <li><strong>Group Fitness Classes</strong></li>
                    <li><strong>24/7</strong> Access</li>
                    <li><strong>Personal Trainer Sessions</strong></li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">JOIN NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                                $199
                            </span>
                            <span class="duration">
                                per month
                            </span>
                        </div>

                        <div class="plan-name">
                            Ultimate
                        </div>
                    </li>
                    <li><strong>Access to Gym</strong></li>
                    <li><strong>Cardio Equipment</strong></li>
                    <li><strong>Group Fitness Classes</strong></li>
                    <li><strong>24/7</strong> Access</li>
                    <li><strong>Personal Trainer Sessions</strong></li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">JOIN NOW</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>