<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
        <p class="text-center wow fadeInDown">Explore the range of services we offer to help you achieve your fitness goals and live a healthier life.</p>
    </div>

    <div class="row">
        <div class="features">
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="media service-box">
                    <div class="pull-left">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Personal Training</h4>
                        <p>Work with our certified personal trainers to create a customized workout plan tailored to your fitness goals. Our trainers are here to guide you on your fitness journey.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                <div class="media service-box">
                    <div class="pull-left">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Group Classes</h4>
                        <p>Join our group fitness classes to stay motivated and make friends on your fitness journey. Our classes are designed to cater to all fitness levels.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                <div class="media service-box">
                    <div class="pull-left">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Nutrition Guidance</h4>
                        <p>Get expert advice on nutrition and meal planning to support your fitness goals. Our nutritionists are available to help you make healthier food choices.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div><!--/.row-->
</div><!--/.container-->