<div class="owl-carousel">
            <div class="item" style="background-image: url({{ 'assets/images/slider/home.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Elite Fitness Club</span></h2>
                                    <p>Descoperă puterea transformării personale. Alătură-te comunității noastre astăzi și începe să-ți sculptezi cel mai bun eu posibil. Să ne transformăm împreună!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url({{ 'assets/images/slider/home2.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Descoperă ceea ce <span> Elite Fitness Club</span> poate face pentru tine astăzi!</h2>
                                    <p> Experimentează variate clase de antrenament, un mediu curat și prietenos, și sprijin constant în călătoria ta către sănătate și bunăstare.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->