<div class="owl-carousel">
            <div class="item" style="background-image: url({{ 'assets/images/slider/locuri.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Locuri din Maramures</h2>
                                    <p>Bine ați venit în Maramureș - Descoperă Comorile Noastre!</p>
                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url({{ 'assets/images/slider/obiceiuri.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Beautifully designed <span>free</span> one page template</h2>
                                    <p>Descoperiți Obiceiurile Maramureșene - O Experiență Culturală Unică! </p>
                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->