<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Meet Our Fitness Team</h2>
        <p class="text-center wow fadeInDown">Get to know the dedicated individuals who make our fitness center a great place for your fitness journey.</p>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                <div class="team-img">
                    <img class="img-responsive" src="{{ 'assets/images/team/trainer1.jpg'|theme }}" alt="Trainer 1">
                </div>
                <div class="team-info">
                    <h3>John Smith</h3>
                    <span>Certified Personal Trainer</span>
                </div>
                <p>With years of experience, John is dedicated to helping you reach your fitness goals. He specializes in strength training and weight management.</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                <div class="team-img">
                    <img class="img-responsive" src="{{ 'assets/images/team/trainer2.jpg'|theme }}" alt="Trainer 2">
                </div>
                <div class="team-info">
                    <h3>Dan Johnson</h3>
                    <span>Group Fitness Instructor</span>
                </div>
                <p>Dan is passionate about group fitness and believes in making workouts fun and effective. Join his classes to stay motivated and active.</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                <div class="team-img">
                    <img class="img-responsive" src="{{ 'assets/images/team/nutritie3.jpg'|theme }}" alt="Nutritionist">
                </div>
                <div class="team-info">
                    <h3>Emily Clark</h3>
                    <span>Certified Nutritionist</span>
                </div>
                <p>Emily specializes in nutrition and meal planning to support your fitness goals. Consult with her for a healthier lifestyle.</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                <div class="team-img">
                    <img class="img-responsive" src="{{ 'assets/images/team/groupclassTrainer.jpg'|theme }}" alt="Instructor">
                </div>
                <div class="team-info">
                    <h3>Michaela Brown</h3>
                    <span>Group Class Instructor</span>
                </div>
                <p>Michaela is a group fitness enthusiast who leads dynamic classes. Join her sessions for a full-body workout experience.</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>